#
# Sbn CMS .gitignore
#

# Common files
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.orig
*.suo
*.vs10x
*.ndproj
*.ignorer.*

# Common directories
.DS_Store
._.DS_Store
.vs/
/local/

# Build directories
[Bb]in/
[Db]ebug*/
[Rr]elease*/
obj/

# Tools
_ReSharper*/
_NCrunch_*/
*.ncrunchsolution
*.ncrunchsolution.user
*.ncrunchproject
*.crunchsolution.cache
tools/NDepend/

[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
[sS]ource
[sS]andbox
sbn.config
App_Data/TEMP/*
[Uu]mbraco/[Pp]resentation/[Uu]mbraco/[Pp]lugins/*
[Uu]mbraco/[Pp]resentation/[Uu]ser[Cc]ontrols/*
[Uu]mbraco/[Pp]resentation/[Ss]cripts/*
[Uu]mbraco/[Pp]resentation/[Ff]onts/*
[Uu]mbraco/[Pp]resentation/[Cc]ss/*

src/Sbn.Tests/App_Data/*

sbn/presentation/sbn/plugins/uComponents/uComponentsInstaller.ascx
sbn/presentation/packages/uComponents/MultiNodePicker/CustomTreeService.asmx

src/Sbn.Tests/config/applications.config
src/Sbn.Tests/config/trees.config
src/Sbn.Tests/config/404handlers.config
src/Sbn.Tests/[Cc]onfig/sbnSettings.config
src/packages/
src/packages/repositories.config

*.transformed

node_modules
lib-bower

src/Sbn.Web.UI.Client/[Bb]uild/*
src/Sbn.Web.UI.Client/[Bb]uild/[Bb]elle/

src/Sbn.Web.UI.Client/src/[Ll]ess/*.css
src/Sbn.Web.UI.Client/vwd.webinfo

src/*.psess
src/*.vspx

NDependOut/*
QueryResult.htm

build/ApiDocs/*
build/ApiDocs/Output/*
src/Sbn.Web.UI.Client/bower_components/*

# Ignore rule for clearing out Belle (avoid rebuilding all the time)
preserve.belle

# Ignore rule for output of generated documentation files from grunt docserve
src/Sbn.Web.UI.Docs/api
src/Sbn.Web.UI.Docs/package-lock.json
src/*.boltdata/
src/sbn.sln.ide/*
src/.vs/

src/Sbn.Tests/[Mm]edia
tools/docfx/*
apidocs/_site/*
src/*/project.lock.json
src/.idea/*

apidocs/api/*
build/docs.zip
build/ui-docs.zip
build/csharp-docs.zip
src/packages/
src/PrecompiledWeb/*

# Build
build.out/
build.tmp/
build/hooks/
build/temp/

# Acceptance tests
cypress.env.json
/src/Sbn.Tests.AcceptanceTest/cypress/support/chainable.ts
/src/Sbn.Tests.AcceptanceTest/package-lock.json
/src/Sbn.Tests.AcceptanceTest/cypress/videos/
/src/Sbn.Tests.AcceptanceTest/cypress/screenshots/

/src/Sbn.Web.UI.Client/TESTS-*.xml
/src/ApiDocs/api/*
/src/Sbn.Web.UI.Client/package-lock.json
/src/Sbn.Web.UI/wwwroot/Media/*
/src/Sbn.Tests.Integration/App_Data/*
/src/Sbn.Tests.Integration/TEMP/*
/src/Sbn.Web.UI/wwwroot/[Uu]mbraco/assets/*
/src/Sbn.Web.UI/wwwroot/[Uu]mbraco/js/*
/src/Sbn.Web.UI/wwwroot/[Uu]mbraco/lib/*
/src/Sbn.Web.UI/wwwroot/[Uu]mbraco/views/*
/src/Sbn.Web.UI/wwwroot/App_Data/TEMP/*
/src/Sbn.Web.UI/App_Data/Logs/*
/src/Sbn.Web.UI/App_Data/TEMP/TypesCache/*
/src/Sbn.Web.UI/App_Data/TEMP/*
/src/Sbn.Web.UI/App_Data/Smidge/Cache/*
/src/Sbn.Web.UI/[Uu]mbraco/[Ll]ogs
/src/Sbn.Web.UI/[Uu]mbraco/[Dd]ata/*
/src/Sbn.Web.UI/[Uu]mbraco/[Mm]odels/*
/src/Sbn.Web.UI/[Vv]iews/*.vbhtml
/src/Sbn.Web.UI/appsettings.json
/src/Sbn.Web.UI/appsettings.Development.json
/src/Sbn.Web.UI/appsettings.Local.json


src/Sbn.Tests.Integration/sbn/Data/
src/Sbn.Tests.Integration/sbn/logs/

src/Sbn.Tests.Integration/Views/

src/Sbn.Tests/TEMP/

src/Sbn.Tests.UnitTests/sbn/Data/TEMP/
src/Sbn.Tests.Integration.SqlCe/sbn/Data/TEMP/
src/Sbn.Tests.Integration.SqlCe/DatabaseContextTests.sdf

src/Sbn.Web.UI/sbn/config/appsettings-schema.json
