<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--
    this is Sbn's NuGet configuration,
    content of this file is merged with the system-wide configuration,
    at %APPDATA%\NuGet\NuGet.config
  -->
    <packageSources>
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="SbnCoreMyGet" value="https://www.myget.org/F/sbncore/api/v3/index.json" />
        <!-- <add key="SmidgeAppVeyor" value="https://ci.appveyor.com/nuget/smidge" /> -->
        <add key="Sbn Nightly" value="https://www.myget.org/F/sbnnightly/api/v3/index.json" />
    </packageSources>
</configuration>
