/* Medium devices (desktops, 768px  and up)*/
@media  (min-width: 768px) and (max-width: 959px) { 
    .cicle_background{
        background-image: url('/media/assets/img/ciclo/cicle_background.svg');
        height: 543px;
        background-repeat: no-repeat;
        z-index: 1;
    }
    
    .data-d{
        max-width: 30rem;
    }

    .diagram-name{
        z-index: 2;
        position: absolute;
        top: 73px;
        left: 20px;
        width: 84px;
        text-align: center;
    }

    .diagram-subtitle{
        z-index: 2;
        position: absolute;
        top: 310px;
        left: 45;
        text-align: center;
    }

    .diagram-center{
        z-index: 2;
        position: absolute;
        top: 164px;
        left: 130px;
        width: 40px;
        text-align: center;
    }

    .element-1{
        z-index: 2;
        position: absolute;
        top: 65px;
        left: 129px;
    }

    .element-2{
        z-index: 2;
        position: absolute;
        top: 133px;
        left: 215px;
    }

    .element-3{
        z-index: 2;
        position: absolute;
        top: 206px;
        left: 197px;
    }

    .element-4{
        z-index: 2;
        position: absolute;
        top: 205px;
        left: 17px;
    }

    .element-5{
        z-index: 2;
        position: absolute;
        top: 135px;
        left: 19px;
    }

    .element-1-label{
        z-index: 2;
        position: absolute;
        top: 50px;
        left: 150px;
    }

    .element-2-label{
        z-index: 2;
        position: absolute;
        top: 117px;
        left: 228px;
    }

    .element-3-label{
        z-index: 2;
        position: absolute;
        top: 190px;
        left: 221px;
    }

    .element-4-label{
        z-index: 2;
        position: absolute;
        top: 190px;
        left: 43px;
    }

    .element-5-label{
        z-index: 2;
        position: absolute;
        top: 117px;
        left: 45px;
    }

    .menu-dot-1{
        z-index: 2;
        position: absolute;
        top: 17px;
        left: 210px;
    }

    .menu-dot-2{
        z-index: 2;
        position: absolute;
        top: 58px;
        left: 242px;
    }

    .menu-dot-3{
        z-index: 2;
        position: absolute;
        top: 120px;
        left: 261px;
    }

    .menu-dot-4{
        z-index: 2;
        position: absolute;
        top: 180px;
        left: 251px;
    }

    .menu-dot-5{
        z-index: 2;
        position: absolute;
        top: 230px;
        left: 221px;
    }

    .menu-dot-6{
        z-index: 2;
        position: absolute;
        top: 410px;
        left: 368px;
    }

    .menu-text{
        /* font-weight: 600; */
        color: #2b5251;
        padding: 0;
        margin: 0;
        font-size: .6rem;
        max-width: 205px;
    }

    .menu-text-1{
        z-index: 2;
        position: absolute;
        top: 45px;
        left: 260px;
    }

    .menu-text-2{
        z-index: 2;
        position: absolute;
        top: 75px;
        left: 291px;
    }

    .menu-text-3{
        z-index: 2;
        position: absolute;
        top: 143px;
        left: 313px;
    }

    .menu-text-4{
        z-index: 2;
        position: absolute;
        top: 200px;
        left: 305px;
    }

    .menu-text-5{
        z-index: 2;
        position: absolute;
        top: 260px;
        left: 275px;
    }

    .menu-text-6{
        z-index: 2;
        position: absolute;
        top: 440px;
        left: 423px;
    }

    .btn-d{
        display:inline-block;
        font-weight:400;
        line-height:1.5;
        color:#212529;
        text-align:center;
        text-decoration:none;
        vertical-align:middle;
        cursor:pointer;
        -webkit-user-select:none;
        -moz-user-select:none;
        user-select:none;
        background-color:transparent;
        border:1px solid transparent;
        padding: .1rem .3rem;
        font-size: .65rem;
        border-radius:.80rem .0rem .80rem .0rem;
        transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .data-title-d{
        color: #2b5251;
    }

    .cursor{
        cursor:pointer;
        cursor: hand
    }

    .nav-link-d{
        display:block;
    }

    .nav-link-d:focus,.nav-link-d:hover{
        color: #bcd601 !important;
        text-decoration:none
    }

    .element-label{
        color: #2b5251;
        font-size: .6rem;
    }
    .diagram-panel-info{
        height: 450px;
    }
}

@media  (min-width: 960px) and (max-width: 1199px) { 
    .cicle_background{
        background-image: url('/media/assets/img/ciclo/cicle_background.svg');
        height: 543px;
        background-repeat: no-repeat;
        z-index: 1;
    }
    
    .data-d{
        max-width: 30rem;
    }

    .diagram-name{
        z-index: 2;
        position: absolute;
        top: 97px;
        left: 28px;
        width: 103px;
        text-align: center;
    }

    .diagram-subtitle{
        z-index: 2;
        position: absolute;
        top: 420px;
        left: 65px;
        text-align: center;
    }

    .diagram-center{
        z-index: 2;
        position: absolute;
        top: 33%;
        left: 28%;
        text-align: center;
        width: 80px;
        height: 80px;
        background: #e4e8eb05;
        cursor: pointer;
    }

    .element-1{
        z-index: 2;
        position: absolute;
        top: 80px;
        left: 161px;
    }

    .element-2{
        z-index: 2;
        position: absolute;
        top: 188px;
        left: 273px;
    }

    .element-3{
        z-index: 2;
        position: absolute;
        top: 272px;
        left: 245px;
    }

    .element-4{
        z-index: 2;
        position: absolute;
        top: 272px;
        left: 36px;
    }

    .element-5{
        z-index: 2;
        position: absolute;
        top: 194px;
        left: 26px;
    }

    .element-1-label{
        z-index: 2;
        position: absolute;
        top: 63px;
        left: 181px;
    }

    .element-2-label{
        z-index: 2;
        position: absolute;
        top: 169px;
        left: 291px;
    }

    .element-3-label{
        z-index: 2;
        position: absolute;
        top: 255px;
        left: 272px;
    }

    .element-4-label{
        z-index: 2;
        position: absolute;
        top: 255px;
        left: 72px;
    }

    .element-5-label{
        z-index: 2;
        position: absolute;
        top: 175px;
        left: 49px;
    }

    .menu-dot-1{
        z-index: 2;
        position: absolute;
        top: 31px;
        left: 270px;
    }

    .menu-dot-2{
        z-index: 2;
        position: absolute;
        top: 83px;
        left: 314px;
    }

    .menu-dot-3{
        z-index: 2;
        position: absolute;
        top: 148px;
        left: 335px;
    }

    .menu-dot-4{
        z-index: 2;
        position: absolute;
        top: 205px;
        left: 333px;
    }

    .menu-dot-5{
        z-index: 2;
        position: absolute;
        top: 263px;
        left: 310px;
    }

    .menu-dot-6{
        z-index: 2;
        position: absolute;
        top: 410px;
        left: 368px;
    }

    .menu-text{
        font-weight: 400;
        color: #2b5251;
        padding: 0;
        margin: 0;
        font-size: .7rem;
        max-width: 172px;
    }

    .menu-text-1{
        z-index: 2;
        position: absolute;
        top: 60px;
        left: 320px;
        padding-left: 8px;
    }
    
    .active-selected-1{
        color: #0a3f0a !important;
        border-bottom: 1px solid #bcd601;
        padding-right: 0.5rem;
    }

    .menu-text-2{
        z-index: 2;
        position: absolute;
        top: 105px;
        left: 368px;
        padding-left: 8px;
    }
    
    .active-selected-2{
        color: #0a3f0a !important;
        border-bottom: 1px solid #bcd601;
        padding-right: 0.7rem;
        width:150px;
    }

    .menu-text-3{
        z-index: 2;
        position: absolute;
        top: 175px;
        left: 378px;
        padding-left: 8px;
    }
    
    .active-selected-3{
        color: #0a3f0a !important;
        border-bottom: 1px solid #bcd601;
        padding-right: 0.5rem;
    }

    .menu-text-4{
        z-index: 2;
        position: absolute;
        top: 231px;
        left: 368px;
        padding-left: 12px;
    }
    
    .active-selected-4{
        color: #0a3f0a !important;
        border-bottom: 1px solid #bcd601;
        padding-right: 0.5rem;
    }

    .menu-text-5{
        z-index: 2;
        position: absolute;
        top: 295px;
        left: 345px;
        padding-left: 14px;
    }
    
    .active-selected-5{
        color: #0a3f0a !important;
        border-bottom: 1px solid #bcd601;
        padding-right: 0.5rem;
    }

    .menu-text-6{
        z-index: 2;
        position: absolute;
        top: 440px;
        left: 423px;
    }

    .btn-d{
        display:inline-block;
        font-weight:400;
        line-height:1.5;
        color:#212529;
        text-align:center;
        text-decoration:none;
        vertical-align:middle;
        cursor:pointer;
        -webkit-user-select:none;
        -moz-user-select:none;
        user-select:none;
        background-color:transparent;
        border:1px solid transparent;
        padding: .1rem .3rem;
        font-size: .7rem;
        border-radius:.80rem .0rem .80rem .0rem;
        transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .data-title-d{
        color: #2b5251;
    }

    .cursor{
        cursor:pointer;
        cursor: hand
    }

    .nav-link-d{
        display:block;
    }

    .nav-link-d:focus,.nav-link-d:hover{
        color: #2b5251 !important;
        text-decoration:none
    }

    .element-label{
        color: #2b5251;
        font-weight: 600;
        font-size: .7rem;
    }
    .diagram-panel-info{
        height: 450px;
    }
}

/*X-Large devices (large desktops, 1200px and up) 1366*/
@media (min-width: 1200px) and (max-width: 1599px) { 
    
       .cicle_background{
        background-image: url('/media/assets/img/ciclo/cicle_background.svg');
        height: 543px;
        background-repeat: no-repeat;
        z-index: 1;
        max-width: 680px;
    }
    
    .data-d{
        max-width: 30rem;
    }

    .diagram-name{
        z-index: 2;
        position: absolute;
        top: 124px;
        left: 54px;
        width: 103px;
        text-align: center;
    }

    .diagram-subtitle{
        z-index: 2;
        position: absolute;
        top: 485px;
        left: 78px;
        text-align: center;
    }

    .diagram-center{
        z-index: 2;
        position: absolute;
        top: 41%;
        left: 28%;
        text-align: center;
        width: 100px;
        height: 100px;
        background: #e4e8eb05;
        cursor: pointer;
    }

    .element-1{
        z-index: 2;
        position: absolute;
        top: 100px;
        left: 208px;
    }

    .element-2{
        z-index: 2;
        position: absolute;
        top: 230px;
        left: 355px;
    }

    .element-3{
        z-index: 2;
        position: absolute;
        top: 365px;
        left: 300px;
    }

    .element-4{
        z-index: 2;
        position: absolute;
        top: 365px;
        left: 62px;
    }

    .element-5{
        z-index: 2;
        position: absolute;
        top: 230px;
        left: 38px;
    }

    .element-1-label{
        z-index: 2;
        position: absolute;
        top: 80px;
        left: 236px;
    }

    .element-2-label{
        z-index: 2;
        position: absolute;
        top: 209px;
        left: 383px;
    }

    .element-3-label{
        z-index: 2;
        position: absolute;
        top: 343px;
        left: 334px;
    }

    .element-4-label{
        z-index: 2;
        position: absolute;
        top: 343px;
        left: 100px;
    }

    .element-5-label{
        z-index: 2;
        position: absolute;
        top: 209px;
        left: 69px;
    }

    .menu-dot-1{
        z-index: 2;
        position: absolute;
        top: 9%;
        left: 53%;
    }

    .menu-dot-2{
        z-index: 2;
        position: absolute;
        top: 112px;
        left: 61%;
    }

    .menu-dot-3{
        z-index: 2;
        position: absolute;
        top: 188px;
        left: 65.5%;
    }

    .menu-dot-4{
        z-index: 2;
        position: absolute;
        top: 272px;
        left: 64.5%;
    }

    .menu-dot-5{
        z-index: 2;
        position: absolute;
        top: 348px;
        left: 59%;
    }

    .menu-dot-6{
        z-index: 2;
        position: absolute;
        top: 410px;
        left: 368px;
    }

    .menu-text{
        font-weight: 500;
        color: #2b5251;
        padding: 0;
        margin: 0;
        font-size: .82rem;
        max-width: 174px;
    }

    .menu-text-1{
        z-index: 2;
        position: absolute;
        top: 72px;
        left: 61%;
        padding-left: 7px;
    }
    
    .active-selected-1{
        color: #0a3f0a !important;
        /*border-bottom: 2px solid #bcd601;*/
        padding-right: 0.5rem;
    }

    .menu-text-2{
        z-index: 2;
        position: absolute;
        top: 137px;
        left: 68%;
        padding-left: 8px;
    }
    
    .active-selected-2{
        color: #0a3f0a !important;
        /*border-bottom: 2px solid #bcd601;*/
        padding-right: 0.2rem;
    }

    .menu-text-3{
        z-index: 2;
        position: absolute;
        top: 220px;
        left: 72%;
        padding-left: 8px;
    }
    
    .active-selected-3{
        color: #0a3f0a !important;
        /*border-bottom: 2px solid #bcd601;*/
        padding-right: 0.5rem;
    }

    .menu-text-4{
        z-index: 2;
        position: absolute;
        top: 300px;
        left: 71%;
        padding-left: 10px;
    }
    
    .active-selected-4{
        color: #0a3f0a !important;
        /*border-bottom: 2px solid #bcd601;*/
        padding-right: 0.5rem;
    }

    .menu-text-5{
        z-index: 2;
        position: absolute;
        top: 380px;
        left: 64%;
        padding-left: 16px;
    }
    
    .active-selected-5{
        color: #0a3f0a !important;
        /*border-bottom: 2px solid #bcd601;*/
        padding-right: 0.3rem;
    }

    .menu-text-6{
        z-index: 2;
        position: absolute;
        top: 440px;
        left: 423px;
    }

    .btn-d{
        display:inline-block;
        font-weight:400;
        line-height:1.5;
        color:#212529;
        text-align:center;
        text-decoration:none;
        vertical-align:middle;
        cursor:pointer;
        -webkit-user-select:none;
        -moz-user-select:none;
        user-select:none;
        background-color:transparent;
        border:1px solid transparent;
        padding:.15rem .5rem;
        font-size: .75rem;
        border-radius:.80rem .0rem .80rem .0rem;
        transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }

    .data-title-d{
        color: #2b5251;
        height: 50px;
    }

    .cursor{
        cursor:pointer;
    }

    .nav-link-d{
        display:block;
    }

    .nav-link-d:focus,.nav-link-d:hover{
        color: #0a3f0a !important;
        text-decoration:none;
    }

    .element-label{
        color: #2b5251;
        font-weight: 600;
        font-size: .75rem;
    }
    .diagram-panel-info{
        height: 450px;
    }
}

/*XX-Large devices (large desktops, 1400px and up)*/
@media (min-width: 1600px) and (max-width: 1919px) { 
    
    .cicle_background{
        background-image: url('/media/assets/img/ciclo/cicle_background.svg');
        height: 643px;
        background-repeat: no-repeat;
        z-index: 1;
    }
    
    .data-d{
        max-width: 30rem;
    }

    .diagram-name{
        z-index: 2;
        position: absolute;
        top: 149px;
        left: 64px;
        width: 119px;
        text-align: center;
    }

    .diagram-subtitle{
        z-index: 2;
        position: absolute;
        top: 575px;
        left: 110px;
        text-align: center;
    }

    .diagram-center{
        z-index: 2;
        position: absolute;
        top: 336px;
        left: 241px;
        text-align: center;
    }

    .element-1{
        z-index: 2;
        position: absolute;
        top: 122px;
        left: 245px;
    }

    .element-2{
        z-index: 2;
        position: absolute;
        top: 276px;
        left: 423px;
    }

    .element-3{
        z-index: 2;
        position: absolute;
        top: 433px;
        left: 370px;
    }

    .element-4{
        z-index: 2;
        position: absolute;
        top: 433px;
        left: 86px;
    }

    .element-5{
        z-index: 2;
        position: absolute;
        top: 276px;
        left: 50px;
    }

    .element-1-label{
        z-index: 2;
        position: absolute;
        top: 102px;
        left: 274px;
    }

    .element-2-label{
        z-index: 2;
        position: absolute;
        top: 255px;
        left: 455px;
    }

    .element-3-label{
        z-index: 2;
        position: absolute;
        top: 413px;
        left: 400px;
    }

    .element-4-label{
        z-index: 2;
        position: absolute;
        top: 413px;
        left: 125px;
    }

    .element-5-label{
        z-index: 2;
        position: absolute;
        top: 255px;
        left: 83px;
    }

    .menu-dot-1{
        z-index: 2;
        position: absolute;
        top: 62px;
        left: 432px;
    }

    .menu-dot-2{
        z-index: 2;
        position: absolute;
        top: 137px;
        left: 495px;
    }

    .menu-dot-3{
        z-index: 2;
        position: absolute;
        top: 224px;
        left: 532px;
    }

    .menu-dot-4{
        z-index: 2;
        position: absolute;
        top: 323px;
        left: 534px;
    }

    .menu-dot-5{
        z-index: 2;
        position: absolute;
        top: 415px;
        left: 502px;
    }

    .menu-dot-6{
        z-index: 2;
        position: absolute;
        top: 496px;
        left: 440px;
    }

    .menu-text{
        font-weight: 600;
        color: #2b5251;
        padding: 0;
        margin: 0;
        font-size: .85rem;
        max-width: 224px;
    }

    .menu-text-1{
        z-index: 2;
        position: absolute;
        top: 90px;
        left: 482px;
    }
    
    .active-selected-1{
        color: #0a3f0a !important;
        /*border-bottom: 2px solid #bcd601;*/
        padding-left: 5px;
        padding-right: 0.2rem;
    }

    .menu-text-2{
        z-index: 2;
        position: absolute;
        top: 165px;
        left: 542px;
    }
    
    .active-selected-2{
        color: #0a3f0a !important;
        /*border-bottom: 2px solid #bcd601;*/
        padding-left: 5px;
        padding-right: 0.1rem;
    }

    .menu-text-3{
        z-index: 2;
        position: absolute;
        top: 252px;
        left: 574px;
        padding-left: 10px;
    }
    
    .active-selected-3{
        color: #0a3f0a !important;
        /*border-bottom: 2px solid #bcd601;*/
        padding-right: 0.2rem;
    }

    .menu-text-4{
        z-index: 2;
        position: absolute;
        top: 352px;
        left: 575px;
        padding-left: 12px;
    }
    
    .active-selected-4{
        color: #0a3f0a !important;
        /*border-bottom: 2px solid #bcd601;*/
        padding-right: 0.2rem;
    }

    .menu-text-5{
        z-index: 2;
        position: absolute;
        top: 445px;
        left: 538px;
        padding-left: 15px;
    }
    
    .active-selected-5{
        color: #0a3f0a !important;
        /*border-bottom: 2px solid #bcd601;*/
        padding-right: 0.5rem;
    }

    .menu-text-6{
        z-index: 2;
        position: absolute;
        top: 526px;
        left: 498px;
    }

    .btn-d{
        display:inline-block;
        font-weight:400;
        line-height:1.5;
        color:#212529;
        text-align:center;
        text-decoration:none;
        vertical-align:middle;
        cursor:pointer;
        -webkit-user-select:none;
        -moz-user-select:none;
        user-select:none;
        background-color:transparent;
        border:1px solid transparent;
        padding:.15rem .5rem;
        font-size: .85rem;
        border-radius:.80rem .0rem .80rem .0rem;
        transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }

    .data-title-d{
        color: #2b5251;
    }

    .cursor{
        cursor:pointer;
        cursor: hand
    }

    .nav-link-d{
        display:block;
    }

    .nav-link-d:focus,.nav-link-d:hover{
        color: #0a3f0a !important;
        text-decoration:none;
    }

    .element-label{
        color: #2b5251;
        font-weight: 600;
        font-size: .75rem;
    }
    .diagram-panel-info{
        height: 450px;
    }

}

/*XXX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1920px) { 
    .cicle_background{
        background-image: url('/media/assets/img/ciclo/cicle_background.svg');
        height: 753px;
        background-repeat: no-repeat;
        z-index: 1;
    }
    
    .data-d{
        max-width: 30rem;
    }

    .diagram-name{
        z-index: 2;
        position: absolute;
        top: 173px;
        left: 86px;
        width: 119px;
        text-align: center;
    }

    .diagram-subtitle{
        z-index: 2;
        position: absolute;
        top: 672px;
        left: 125px;
        text-align: center;
    }

    .diagram-center{
        z-index: 2;
        position: absolute;
        top: 42%;
        left: 26%;
        text-align: center;
        width: 120px;
        height: 120px;
        background: #e4e8eb05;
        cursor: pointer;
    }

    .element-1{
        z-index: 2;
        position: absolute;
        top: 140px;
        left: 285px;
    }

    .element-2{
        z-index: 2;
        position: absolute;
        top: 330px;
        left: 500px;
    }

    .element-3{
        z-index: 2;
        position: absolute;
        top: 525px;
        left: 425px;
    }

    .element-4{
        z-index: 2;
        position: absolute;
        top: 525px;
        left: 120px;
    }

    .element-5{
        z-index: 2;
        position: absolute;
        top: 330px;
        left: 55px;
    }

    .element-1-label{
        z-index: 2;
        position: absolute;
        top: 115px;
        left: 321px;
    }

    .element-2-label{
        z-index: 2;
        position: absolute;
        top: 305px;
        left: 537px;
    }

    .element-3-label{
        z-index: 2;
        position: absolute;
        top: 500px;
        left: 467px;
    }

    .element-4-label{
        z-index: 2;
        position: absolute;
        top: 500px;
        left: 172px;
    }

    .element-5-label{
        z-index: 2;
        position: absolute;
        top: 305px;
        left: 100px;
    }

    .menu-dot-1{
        z-index: 2;
        position: absolute;
        top: 82px;
        left: 516px;
    }

    .menu-dot-2{
        z-index: 2;
        position: absolute;
        top: 174px;
        left: 591px;
    }

    .menu-dot-3{
        z-index: 2;
        position: absolute;
        top: 274px;
        left: 631px;
    }

    .menu-dot-4{
        z-index: 2;
        position: absolute;
        top: 375px;
        left: 636px;
    }


    .menu-dot-5{
        z-index: 2;
        position: absolute;
        top: 474px;
        left: 605px;
    }

    .menu-dot-6{
        z-index: 2;
        position: absolute;
        top: 586px;
        left: 525px;
    }

    .menu-text{
        font-weight: 600;
        color: #2b5251;
        padding: 0;
        margin: 0;
        max-width: 278px;
        font-size:0.9rem;
    }

    .menu-text-1{
        z-index: 2;
        position: absolute;
        top: 112px;
        left: 569px;
    }
    
    .active-selected-1{
        color: #0a3f0a !important;
        /*border-bottom: 2px solid #bcd601;*/
        padding-left: 5px;
        padding-right: 2rem;
    }

    .menu-text-2{
        z-index: 2;
        position: absolute;
        top: 200px;
        left: 638px;
    }
    
    .active-selected-2{
        color: #0a3f0a !important;
        /*border-bottom: 2px solid #bcd601;*/
        padding-left: 5px;
        padding-right: 2rem;
    }

    .menu-text-3{
        z-index: 2;
        position: absolute;
        top: 300px;
        left: 674px;
        padding-left: 6px;
    }
    
    .active-selected-3{
        color: #0a3f0a !important;
        /*border-bottom: 2px solid #bcd601;*/
        padding-left: 10px;
        padding-right: 1rem;
        width: 262px;
    }

    .menu-text-4{
        z-index: 2;
        position: absolute;
        top: 402px;
        left: 675px;
        padding-left: 10px;
    }
    
    .active-selected-4{
        color: #0a3f0a !important;
        /*border-bottom: 2px solid #bcd601;*/
        padding-right: 1rem;
        width: 258px;
    }

    .menu-text-5{
        z-index: 2;
        position: absolute;
        top: 500px;
        left: 642px;
        padding-left: 17px;
    }
    
    .active-selected-5{
        color: #0a3f0a !important;
        /*border-bottom: 2px solid #bcd601;*/
        padding-right: 0.1rem;
    }

    .menu-text-6{
        z-index: 2;
        position: absolute;
        top: 613px;
        left: 585px;
    }

    .btn-d{
        display:inline-block;
        font-weight:400;
        line-height:1.5;
        color:#212529;
        text-align:center;
        text-decoration:none;
        vertical-align:middle;
        cursor:pointer;
        -webkit-user-select:none;
        -moz-user-select:none;
        user-select:none;
        background-color:transparent;
        border:1px solid transparent;
        padding:.200rem .90rem;
        font-size:1rem;
        border-radius:.80rem .0rem .80rem .0rem;
        transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }

    .data-title-d{
        color: #2b5251;
    }

    .cursor{
        cursor:pointer;
    }

    .nav-link-d{
        display:block;
    }

    .nav-link-d:focus,.nav-link-d:hover{
        color: #0a3f0a !important;
        text-decoration:none;
    }

    .element-label{
        color: #2b5251;
        font-weight: 600;
        font-size: .85rem;
    }
    
    .diagram-panel-info{
        height: 450px;
    }

}

.img-d-m{
    object-fit: cover;
    object-position: top;
    width: -webkit-fill-available
}

.img-d{
    object-fit: cover;
    border: 10px solid #E3E2E6;
    box-shadow: 0 0 0 10px #F1F1F1, 
                0 0 0 10px #F1F1F1;
    margin-bottom: 15px;
}

.active-selected{
    color: #0a3f0a !important;
    /*border-bottom: 2px solid #bcd601;*/
    padding-left: 5px;
    padding-right: 2rem;
}

.active-selected-m{
    background-color: #bcd601 !important;
    border-color: #bcd601 !important;
}

.noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none;
          -ms-user-select: none; 
              user-select: none;                          
}

.btn-outline-success-d{
    color:#2b5251;
    background-color: #fff;
    font-weight: 600;
}

.btn-outline-success-d:hover{
    /*color:#fff;*/
    background-color:#bcd601;
    border-color:#bcd601
}

.btn-check:focus+
.btn-outline-success,
.btn-outline-success:focus{
    box-shadow:0 0 0 .25rem rgba(25,135,84,.5)
}

.btn-check:active+
.btn-outline-success-d,
.btn-check:checked+
.btn-outline-success-d,
.btn-outline-success-d.active,
.btn-outline-success-d.dropdown-toggle.show,
.btn-outline-success-d:active{
    /*color:#fff;*/
    background-color:#bcd601;
    border-color:#bcd601
}

.btn-outline-success-d.disabled,
.btn-outline-success-d:disabled{
    color:#198754;
    background-color:transparent
}