body{
    background-color:#f5f5f5 !important;
}

.frontpage{
    background-color:#f5f5f5 !important;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
    color: #014235 !important;
}

.title-separator-main-carousel{
    margin-left: 7rem;
    width: 45%;
}

.card{
    border-radius: 0.75rem;
}

.card-img-top{
    border-radius: 0.75rem;
}

.card-text-desafios{
    width: 18rem;
    height:30rem;
}

.card-text-impl-sbn{
    height:30rem;
}

.custom-circle-image {
  width: 9vw; /* note i used vw not px for better responsive */
  height: 9vw;
}

.custom-circle-image-min {
  position: absolute;
    width: 4vw;
    height: 4vw;
    top: 7vw;
    right: 3vw;
}

.card-margin-top-sbn{
    margin-top:25px;
}

.card-title{
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}

.card-text{
    padding-top:20px;
    border-top: 3px solid #dee2e6!important;
    padding-left:2.3rem;
    padding-right:2.3rem;
    font-size:12px;
}

.btn-card-impl-sbn {
    position: absolute;
    left: 33.3%;
    color: #fff;
    background-color: 0a3f0a;  /* #dfe633 */
    border-radius: 8px 0 8px 0;
    font-weight: 600;
    width: 115px;
    line-height: 1.1;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    bottom: -12px;
}

.btn-card-impl-sbn:hover {
    color: 0a3f0a;
    background-color: #dfe633;  
}

.img-d {
    object-fit: cover;
    border: 10px solid #E3E2E6;
    box-shadow: 0 0 0 10px #f1f1f1, 0 0 0 10px #f1f1f1;
    margin-bottom: 15px;
}

footer {
  background: #eeefe9;
  color: #2c6e28;
  font-weight: 500;
  padding: 1px 0; 
}
  footer .logo_footer {
    width: 190px;
    display: block;
  }
    footer .logo_footer img {
      width: 100%; 
        
    }
  footer .box_link_footer a {
    display: inline-block;
    margin: 0 5px 0 0; 
      
  }
    footer .box_link_footer a img {
      width: 25px; 
        
    }
  footer .links_social a {
    display: inline-block;
    margin: 10px 5px 10px 0; 
      
  }
    footer .links_social a img {
      width: auto;
      height: 20px; 
        
    }
  footer .link-footer {
    color: #333333;
    font-weight: 600;
    text-decoration: underline;
    font-size: 14px;
    margin-bottom: 1rem;
    display: block; 
  }
  footer .info_footer {
    font-size: 14px; }
    footer .info_footer strong {
      color: #266831;
      font-weight: 600;
      font-size: 14px; 
    }
    footer .info_footer a {
      color: #266831;
      font-size: 14px;
      overflow-wrap: break-word; 
        
    }
  footer .links_site {
    text-align: right;
    margin-top: 40px; 
  }
    @media screen and (max-width: 768px) {
      footer .links_site {
        text-align: left; 
      } 
        
    }
    footer .links_site a {
      color: #2c6e28;
      font-weight: 500;
      display: block;
      font-size: 14px;
      margin: 16px 0; 
    }
  footer .box_tyc {
    text-align: right;
    margin: 22px 0; }
    @media screen and (max-width: 768px) {
      footer .box_tyc {
        text-align: left;
      } 
    }
    footer .box_tyc a {
      color: #2c6e28;
      font-weight: 500;
      font-size: 14px; 
    }

.copyright {
  height: 35px;
  background-color: #E6E6E6;
  color: #333333;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

 #holder {
    height: 600px;
    margin: 0px 0 0 0px;
    width: 850px;
    margin-left: 15px;
    background-color:#fefefe;
}
#time {
    text-align: center;
    font: 100 3em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.news-wrapper .row .img {
    width: 150px;
    min-height: 150px;
    border-radius: 50%;
    margin-bottom: 16px;
    margin-left:60px;
    color: #333333;
    background-size: cover;
    border: 15px solid #eee;
}

.news-wrapper .row .flag {
    position: absolute;
    background: #bad405;
    top: 24px;
    padding: 6px 8px;
    font-size: 14px;
    color: #333333;
    line-height: 1;
    font-weight: 600;
}

.news-wrapper {
    position: relative;
    padding-bottom: 32px;
    padding-left:20px;
    padding-right:20px;
}

.news-vertical-content{
    padding:1px;
    width:300px;
}

.news-text{
    font-size: 0.8rem;
    text-align: center;
}

.news-wrapper .row .titulo-step{
    text-align: center;
    color: #1B4F72;
}


/* -- PAGINATION -- */

.pagination {
    float: left;
    width: 100%;
}

.pagination ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 0px;
    position: relative;
    text-align: center;
}

.pagination li {
    margin-left: 1px;
    padding: 0;
    display: inline-block;
}

.pagination li a {
    color: #555;
    text-align: center;
    background: #eee;
    display: block;
    float: left;
    min-width: 28px;
    height: 28px;
    text-decoration: none;
    line-height: 30px;
}

    .pagination li a.active, .pagination li a:hover {
        background: #00a1f1;
        color: #fff;
    }

    .pagination li a.disabled {
        cursor:default;
        opacity:0.5;
    }

        .pagination li a.disabled:hover {
            cursor:default;
            color: #a5a5a5;
            background: #eee;
            text-decoration: none;
        }
/* -- PAGINATION -- */

.pagination {
    float: left;
    width: 100%;
}

.pagination ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 0px;
    position: relative;
    text-align: center;
}

.pagination li {
    margin-left: 1px;
    padding: 0;
    display: inline-block;
}

.pagination li a {
    color: #555;
    text-align: center;
    background: #eee;
    display: block;
    float: left;
    /*width: 28px;
    height: 28px;
    text-decoration: none;
    line-height: 30px;
    */
}

    .pagination li a.active, .pagination li a:hover {
        background: #00a1f1;
        color: #fff;
    }

    .pagination li a.disabled {
        cursor:default;
        opacity:0.5;
    }

    .pagination li a.disabled:hover {
        cursor:default;
        color: #a5a5a5;
        background: #eee;
        text-decoration: none;
    }
    


.btn-sbn-tools{
    text-align: left;
}

.btn-sbn-tools {
    background-color: #dfe633;
    border-radius: 8px 0 8px 0;
    font-weight: 500;
    width: 115px;
    font-size:13px;
    line-height: 1.1;
    height: 40px;
}

.btn-sbn-tools-2 {
    background-color: #1a3f32;
    color: #dfe633;
    border-radius: 8px 0 8px 0;
    font-weight: 500;
    width: 115px;
    font-size:13px;
    line-height: 1.1;
    height: 40px;
}

.btn-sbn-tools-2:hover {
    color:#fff;
}

.curved-div svg {
  display: block;
}

.curved-div {
    position: relative;
    padding: 2em;
    left: 45%;
    transform: translate(-50%, -70%);
    opacity: 0.9;
    z-index:-1;
}
 
.laptop-main-page{
    position: relative;
    padding: 2em;
    left: 25%;
    transform: translate(-48%, 2%);
    opacity: 0.95;
}  

.border-sbn-tools{
    margin-top:20px;
    padding-bottom:20px;
    border:3px solid !important;
    border-color: #dfe633!important;
    border-top-left-radius: 2rem!important;
}

.sbn-figures-info{
    margin-left: auto; 
    margin-right: auto;    
    color: #2096BF;
    font-size: 11px;
    text-align: center;
}

.card-casos-de-exito{
    padding:5px;
}
.card-casos-de-exito .overlay {
    position: absolute;
    top: 5px;
    left: 20px;
    width: 340px;
    height: 340px;
    background: #b8cf00;
    opacity: 0;
    z-index:99;
    transition: opacity 250ms ease-in-out;
}

.card-casos-de-exito:hover .overlay{
  opacity:0.97;
}

.card-text-overlay{
    margin-top:150px;
}

.card-text-overlay h5{
    color:#fff !important;
}

.cart-download-icon{
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #fff;
    font-size:2rem;
    cursor:pointer;
}

.card-img-casos-de-exito{
    width:340px;
    height:340px;
    overflow: hidden;
    object-fit: cover;
}

.card-title-main{
    position:absolute;
    background-color : 0a3f0a;
    color: #fff !important;
    bottom:5px;
    left:20px;
    width:340px;
    opacity: 0.8;
}

.card-title-main h5{
    color: #fff !important;
    margin-top:16px;
    margin-left:17px;
}

.casos-de-exito-header{
    background-color:#3e522f21;
    margin-bottom:30px;
}

.casos-de-exito-background-header{
    position: absolute;
    /*background-color: #438711;*/
    width: 100%;
    top: 89px;
    height: 300px;
    background: url('/media/jlvothty/ddeb880b61a02925f681e22b8b2690d75d0373d6552c4c6fbb5e60d7e3f5e916052990d1c543eac1b463b2a5b35b5dfebdc205cecabea27721661b_1280.jpg') #00ff0055;
}

.casos-de-exito-background-header-overcolor{
 position:relative; 
 background: linear-gradient(to right, #033003d1 50%, #032603bf 50%, #125312de 55%, #1c661d94 95%);
    top: 0px;
    height: 18.8rem;
    padding-top: 2rem;
    padding-bottom: 20px;
    width: 100%;
    margin-top: -1px;
    margin-bottom: -1px;
}

.casos-de-exito-background-header:before{
    background-color: #438711;
}

.row-casos-de-exito{
    background-color: #fff;
    padding-top:15px;
    
}    

.section-casos-de-exito{
    padding-top:15px;
    padding-left:15px;
    padding-bottom:35px;
    width:107%;
}
    